
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>ورود به حساب کاربری</h2>
    <form id="loginForm">
        <label for="email">ایمیل:</label><input type="text" id="email" name="email" required><br><br>
        <label for="password">رمز عبور:</label><input type="password" id="password" name="password" required><br><br>
        <button type="submit">ورود</button>
    </form>

    <script>
        document.getElementById('loginForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // جلوگیری از ارسال پیش‌فرض فرم
        
            const email = this.email.value; // دریافت ایمیل
            const password = this.password.value; // دریافت پسورد
        
            await loginUser(email, password); // فراخوانی تابع ورود
        });
        
        async function loginUser(email, password) {
            const response = await fetch('http://127.0.0.1:8000/accounts/api/v1/login/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email, password })
            });
        
            if (response.ok) {
                const data = await response.json();
                localStorage.setItem('access_token', data.access);
                window.location.href = 'http://127.0.0.1:8000/blog/api/v1/post/';
            } else {
                const errorData = await response.json();
                console.error('Login failed:', errorData.errors);
            }
        }
        </script>
</body>
</html>